body{
    margin: 0; 
    background: #ff5c33; 
}
.headertop{
 
    
    min-height: 10px;
    background: #ff0032;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
#name{
    color: #05f20c;    
      
        font-family: sans-serif;
        weight: bold;
      
}
.nav-custom{
    background: #ff0032;
    width: 1200px;
    
}
.btn-custom{
   padding-top: 0;
   padding-bottom: 0;
    background: #cccc00;
    display: block;
    
}
.navbar-custom{
    background: #ff0032;
    
.button-group{
   postion: absolute;
  width:50px; 
}
.dropdown-toggle{
    bacground: #ff0032;
}
#dropdown-custom{
    background: #ff0032;
    font-family: sans-serif;
}
#logindrodown{
    width: 600px;
    min-height: 400px;
    bacground: #ff6666;
    padding-left: 30px;
     padding-right: 30px;
}
.tales {
  width: 100%;
  height: 300px;
}
.carousel-inner{
  width:100%;
  max-height: 400px !important;
}
.container-fluid{
	background: #ff0032;
}
ul.dropdown-lr {
  width: 300px;
}
.navbar-min-height{
    min-height: 150px;
}

@media only screen and (max-width: 768px) {
    /* Not working */
    .navbar-min-height{
        min-height: 30px;
    }
}

@charset "ISO-8859-1";